[Unit]
Description=Buffered Socket Server with support for WebSockets

[Service]
WorkingDirectory=/srv/bs
ExecStart=/srv/bs/bin/bs --listen 0.0.0.0

[Install]
WantedBy=multi-user.target
